@model eShopLab.Models.SizeCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SizeCategory</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SizeCategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SizeCategoryName)
            @Html.ValidationMessageFor(model => model.SizeCategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SizeCategoryInitial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SizeCategoryInitial)
            @Html.ValidationMessageFor(model => model.SizeCategoryInitial)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
        $(".Sizeproduct-menu").addClass("active");
        $(".SizeCategory-submenu").addClass("active");
    </script>
}