@model eShopLab.Models.SizeCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SizeCategory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SizeCategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SizeCategoryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SizeCategoryInitial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SizeCategoryInitial)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section scripts{
    <script>
        $(".product-menu").addClass("active");
        $("#sizecategory-submenu").addClass("active");
    </script>
}