@model eShopLab.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductName)
            @Html.ValidationMessageFor(model => model.ProductName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductDescription)
            @Html.ValidationMessageFor(model => model.ProductDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductLongDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductLongDescription)
            @Html.ValidationMessageFor(model => model.ProductLongDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductReference)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductReference)
            @Html.ValidationMessageFor(model => model.ProductReference)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductManufacturerReference)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductManufacturerReference)
            @Html.ValidationMessageFor(model => model.ProductManufacturerReference)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductBarCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductBarCode)
            @Html.ValidationMessageFor(model => model.ProductBarCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductAddingDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductAddingDate)
            @Html.ValidationMessageFor(model => model.ProductAddingDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductDiscontinued)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductDiscontinued)
            @Html.ValidationMessageFor(model => model.ProductDiscontinued)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)(ViewBag.MyCategories))
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label">
            <label style="width:90px;">Size</label><label style="width:80px;">Quantity</label>
        </div>
        <div class="editor-field">

        @foreach (var size in ViewBag.MySize)
        {
            <div class="input-group">
                <span class="input-group-addon" style="width:80px;text-align:left;">
                <input type="checkbox">
                    @size.SizeCategoryInitial
                </span>
                <input type="text" class="form-control" style="width:80px;">
            </div><!-- /input-group -->  
            }

            @Html.ValidationMessageFor(model => model.ProductSizeCategories)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
        $(".title").html("Create Product");
        $(".product-menu").addClass("active");
        $("#product-submenu").addClass("active");
    </script>
}