@model eShopLab.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<fieldset>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductLongDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductLongDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductReference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductReference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductManufacturerReference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductManufacturerReference)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductBarCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductBarCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductAddingDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductAddingDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductDiscontinued)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductDiscontinued)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.CategoryName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.HiddenFor(model => model.ProductID)
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section scripts{
    <script>
        $(".title").html("Delete Product");
        $(".product-menu").addClass("active");
        $("#product-submenu").addClass("active");
    </script>
}