@model IEnumerable<eShopLab.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductManufacturerReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductAddingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDiscontinued)
        </th>
        <th>
            <label style="margin:0">Category</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="table-form">
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td class="table-form">
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td class="table-form">
            @Html.DisplayFor(modelItem => item.ProductReference)
        </td>
        <td class="table-form">
            @Html.DisplayFor(modelItem => item.ProductManufacturerReference)
        </td>
        <td class="table-form">
            @Html.DisplayFor(modelItem => item.ProductAddingDate)
        </td>
        <td class="table-form center">
            @Html.DisplayFor(modelItem => item.ProductDiscontinued)
        </td>
        <td class="table-form">
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td class="table-form">
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) <br />
            @Html.ActionLink("Details", "Details", new { id = item.ProductID })<br />
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(".title").html("Product List");
    </script>
}