@model IEnumerable<eShopLab.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductLongDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductManufacturerReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductBarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductAddingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDiscontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VATCategory.VATCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitType.UnitTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medium.MediaName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductLongDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductManufacturerReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductBarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductAddingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDiscontinued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VATCategory.VATCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitType.UnitTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medium.MediaName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
