@model eShopLab.Models.CategoryMedia

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<span class="title">Create Category</span>

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "mydropzone" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            <label for="CategoryName">Category Name</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewCategory.CategoryName)
            @Html.ValidationMessageFor(model => model.NewCategory.CategoryName)
        </div>

        <div class="editor-label">
            <label for="CategoryName">Category Description</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewCategory.CategoryDescription)
            @Html.ValidationMessageFor(model => model.NewCategory.CategoryDescription)
        </div>

        <div class="editor-label">
            <label for="CategoryName">Is in the menu?</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewCategory.CategoryIsMenu)
            @Html.ValidationMessageFor(model => model.NewCategory.CategoryIsMenu)
        </div>

        <div class="editor-label">
            <label for="CategoryName">Media</label>
        </div>
        <div class="editor-field">
            <div class="dropzone-previews">
            </div>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>