@model eShopLab.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<span class="title">Delete Category</span>

<h3>Are you sure you want to delete this?</h3>
<fieldset>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryDescription)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryIsMenu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryIsMenu)
    </div>
    @if (Model.Medium != null)
    {
        <div class="display-label">
            <label for="CategoryName">Media</label>
        </div>
        <div class="display-field">
            <img id="imgMedia" src="@Url.Content(Model.Medium.MediaUrl)" alt="" />
        </div>
    }
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section scripts{
    <script>
        $(".product-menu").addClass("active");
        $(".category-submenu").parent().addClass("active");
    </script>
}