@model eShopLab.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<span class="title">Edit Category</span>
<input hidden="hidden" type="text" name="fileUrl" value="@Model.Medium.MediaUrl.Replace("~","")" />

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", id = "mydropzone" }))
{
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.CategoryID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryDescription)
            @Html.ValidationMessageFor(model => model.CategoryDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryIsMenu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryIsMenu)
            @Html.ValidationMessageFor(model => model.CategoryIsMenu)
        </div>

        <div class="editor-label">
            <label for="CategoryName">Media</label>
        </div>
        <div class="editor-field">
            <div class="dropzone-previews">
                <div class="dz-message">
                    <img id="dropzoneimg" src="~/Content/images/dropFiles.png" />
                </div>
            </div>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
        $(".product-menu").addClass("active");
        $(".category-submenu").parent().addClass("active");
    </script>
}