<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    
    @Styles.Render("~/bundles/css")
      
</head>
<body>
    <div>
        <div id="adm-wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="padding">
                        <span class="title">&nbsp Administration</span>
                    </div>
                    <div class="list-group list-categ">
                        <a href="catalogue.html" class="list-group-item">Users</a>
                        @Html.ActionLink("Categories", "Index", "Category", null, new { @class = "list-group-item" })
                        @Html.ActionLink("Products", "Index", "Product", null, new { @class = "list-group-item" })
                        @Html.ActionLink("Category sizes", "Index", "SizeCategory", null, new { @class = "list-group-item" })
                        <a href="catalogue.html" class="list-group-item">Commands</a>
                        <a href="catalogue.html" class="list-group-item">Statistics</a>
                        @Html.ActionLink("Retour", "Index", "Home", new { Area = "" }, new { @class = "list-group-item" })

                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/script")
</html>
