@model eShopLab.Models.Price

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Price</legend>

        @Html.HiddenFor(model => model.PriceID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PriceDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PriceDate)
            @Html.ValidationMessageFor(model => model.PriceDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PriceValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PriceValue)
            @Html.ValidationMessageFor(model => model.PriceValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductID, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
        $(".title").html("Edit Price");
        $(".product-menu").addClass("active");
        $("#price-submenu").addClass("active");
    </script>
}