
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>eShop Lab</title>
    @Styles.Render("~/bundles/css")
</head>
<body ng-app="angularApps" ng-controller="AngularCtrl">
    <header>
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
                    <div class="well logo">
                        <a href="index.html">
                            eShop <span>Online Shop</span>
                        </a>
                        <div>Your online Shop !</div>
                    </div>
                </div>
                <!-- End Logo -->
                <!-- Search Form -->
                <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
                    <div class="well">
                        @using (Html.BeginForm("Index", "Catlg", FormMethod.Get))
                        {
                        <div class="input-group">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-search", placeholder = "Enter something to search" })
                            <span class="input-group-btn">
                                <button class="btn btn-default no-border-left" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        }
                    </div>
                </div>
                <!-- End Search Form -->
                <!-- Shopping Cart List -->
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="well">
                        <div class="btn-group btn-group-cart">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="pull-left"><i class="fa fa-shopping-cart icon-cart"></i></span>
                                <span class="pull-left">Shopping Cart: {{ invoice.length }} item(s)</span>
                                <span class="pull-right"><i class="fa fa-caret-down"></i></span>
                            </button>
                            <ul class="dropdown-menu cart-content" role="menu">
                                <li ng-repeat="cartLine in invoice">
                                    <a href="@Url.Action("Index", "Cart")">
                                        <b>{{ cartLine.ProductName }}</b>
                                        <span>x{{ cartLine.Quantity }} {{ cartLine.Price |  currency:"€" }}</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index", "Cart")">Total: {{ total() | currency:"€ " }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Shopping Cart List -->
            </div>
        </div>
    </header>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- text logo on mobile view -->
                @Html.ActionLink("Online Shop", "Index", "Home", new { Area = "" }, new { @class = "navbar-brand visible-xs" })
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { id = "home-link" })</li>
                    <li>@Html.ActionLink("Catalogue", "Index", "Catlg", new { Area = "" }, new { id = "Catlg-link" })</li>
                    <li>@Html.ActionLink("Shopping Cart", "Index", "Cart", new { Area = "" }, new { id = "Cart-link" })</li>
                    <li>@Html.ActionLink("Checkout", "Index", "Checkout", new { Area = "" }, new { id = "Checkout-link" })</li>
                    <li class="nav-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Pages <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Admin", "Index", "Home", new { Area = "Admin" }, null)</li>
                </ul>
                    @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <!-- End Navigation -->
    @*@User.Identity.Name
        @User.Identity.IsAuthenticated*@

    <div class="container main-container">
        <div class="container main-container">
            @RenderBody()
        </div>

    </div>
    <footer>
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="typography.html">Policy Privacy</a></li>
                        <li><a href="typography.html">Terms and Conditions</a></li>
                        <li><a href="typography.html">Shipping Methods</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="catalogue.html">Cras justo odio</a></li>
                        <li><a href="catalogue.html">Dapibus ac facilisis in</a></li>
                        <li><a href="catalogue.html">Morbi leo risus</a></li>
                        <li><a href="catalogue.html">Porta ac consectetur ac</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">YM: erwin_heldy</a></li>
                        <li><a href="#">Telp: 087825376xxx</a></li>
                        <li><a href="#">Email: erwin.heldy@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>Follow Us</h4>
                    <ul class="social">
                        <li><a href="#">Google Plus</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">RSS Feed</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-inverse text-center copyright">
            Copyright &copy; 2013 eShop All right reserved
        </div>
    </footer>

    <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
        <i class="fa fa-angle-double-up"></i>
    </a>

    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", false)
    <script type="text/javascript">
        $(function () {
            @switch (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()) {
                case "Home":
                    <text>$("#home-link").addClass("active");</text>
                    break;
                case "Catlg":
                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() != "Details") {
                    <text>$("#Catlg-link").addClass("active");</text>}
                    break;
                case "Cart":
                    <text>$("#Cart-link").addClass("active");</text>
                    break;
                case "Checkout":
                    <text>$("#Checkout-link").addClass("active");</text>
                    break;
                default:
                    <text>$("#home-link").addClass("active");</text>
                    break;
            }
        });
    </script>
</body>
</html>
