@if (@User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Welcome @User.Identity.Name ! <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Log off", "Logout", "Account", new { returnUrl = Request.Url.AbsoluteUri }, null)</li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Account<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Register", "Register", "Account", new { returnUrl = Request.Url.AbsoluteUri }, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", new {returnUrl = Request.Url.AbsoluteUri}, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </li>
    </ul>
}