@model PagedList.IPagedList<eShopLab.Models.Product>
@using PagedList.Mvc;
@using eShopLab.Helper;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Categories -->
    <div class="floatleft">
        <span class="title">CATEGORIES</span>
        <div class="vignette">
            <div class="list-group list-categ">
                @foreach (var cat in ViewBag.Categories)
                {
                    if (cat.CategoryID == ViewBag.categoryID)
                    {
                        @Html.ActionLink((string)cat.CategoryName, "Index", new { categoryID = cat.CategoryID }, new { @class = "list-group-item active" });
                    }
                    else
                    {
                        @Html.ActionLink((string)cat.CategoryName, "Index", new { categoryID = cat.CategoryID }, new { @class = "list-group-item" });
                    }
                }
            </div>
        </div>
        <select id="sort-select" onchange="location = this.options[this.selectedIndex].value;">
            <option value="@Url.Action("Index", "Catlg", new { categoryID = ViewBag.categoryID, sortOrder = "", currentFilter = ViewBag.CurrentFilter })"></option>
            <option @if (ViewBag.CurrentSort == "Name_desc") { <text> selected </text>  } value="@Url.Action("Index", "Catlg", new { categoryID = ViewBag.categoryID, sortOrder = "Name_desc", currentFilter = ViewBag.CurrentFilter })">Descending name</option>
            <option @if (ViewBag.CurrentSort == "Price_asc") { <text> selected </text>  } value="@Url.Action("Index", "Catlg", new { categoryID = ViewBag.categoryID, sortOrder = "Price_asc", currentFilter = ViewBag.CurrentFilter })">Ascending price</option>
            <option @if (ViewBag.CurrentSort == "Price_desc") { <text> selected </text>  } value="@Url.Action("Index", "Catlg", new { categoryID = ViewBag.categoryID, sortOrder = "Price_desc", currentFilter = ViewBag.CurrentFilter })">Descending price</option>
        </select>
    </div>
    <!-- End Categories -->
    <!-- Catalogue -->
    @if (Model != null)
    {
        <div class="floatleft">
            <span class="title">PRODUCTS CATALOGUE</span>

            <div class="vignette hero-feature text-center">
                <div class="thumbnail">
                    @Html.ActionImageCatlg("Details", "Catlg", Model.First().ProductID, Model.First().Media.First().MediaUrl, "")
                    <div class="caption prod-caption">
                        <h4><a href="detail.html">@Model.First().ProductName</a></h4>
                        <p>@Model.First().ProductDescription</p>
                        <p>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default">@String.Format("{0:C}", Model.First().Prices.Where(p => p.PriceDate == Model.First().Prices.Max(d => d.PriceDate)).First().PriceValue)</a>
                                <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ajusting"></div>
        bool first = true;
        foreach (var product in Model)
        {
            if (!first)
            {
                <div class="vignette hero-feature text-center">
                    <div class="thumbnail">
                        @Html.ActionImageCatlg("Details", "Catlg", product.ProductID, product.Media.First().MediaUrl, "")
                        <div class="caption prod-caption">
                            <h4><a href="detail.html">@product.ProductName</a></h4>
                            <p>@product.ProductDescription</p>
                            <p>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-default">@String.Format("{0:C}", product.Prices.Where(p => p.PriceDate == product.Prices.Max(d => d.PriceDate)).First().PriceValue)</a>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            }
            first = false;
        }

        <div class="clearfix"></div>

        <div class="text-center">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, categoryID = ViewBag.categoryID, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    <!-- End Catalogue -->
    }
    <br />
</div>

<a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
    <i class="fa fa-angle-double-up"></i>
</a>
