
@model PagedList.IPagedList<eShopLab.Models.ProductCatalog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Category = ViewBag.Category;
   
}
 
<div class="col-lg-9 col-md-9 col-sm-12">
   
        <div class="col-lg-12 col-sm-12">
            <span class="title">@Category</span>
          
                      Tri:
                        <select name="tri" onchange="location = this.options[this.selectedIndex].value;">
                            <option value=""></option>
                            <option value="@Url.Action("getProductCatalogView", "Home", new { Category = ViewBag.Category, sortOrder = "Name_asc"})">Nom de produits ascendant</option>
                            <option value="@Url.Action("getProductCatalogView", "Home", new { Category = ViewBag.Category, sortOrder = "Price_asc"})">Prix ascendant</option>
                            <option value="@Url.Action("getProductCatalogView", "Home", new { Category = ViewBag.Category, sortOrder = "Name_desc"})">Nom de produits descendant</option>
                            <option value="@Url.Action("getProductCatalogView", "Home", new { Category = ViewBag.Category, sortOrder = "Price_desc"})">Prix descendant</option>
                        </select> 
     
           
        </div>

        
        @foreach (var item in Model)
        {


            <div class="col-lg-4 col-sm-4 hero-feature text-center">
                <div class="thumbnail">
                    <a href="detail.html" class="link-p">
                        <img src="../../images/product-2.jpg" alt="">
                    </a>
                    <div class="caption prod-caption">
                        <h4><a href="detail.html">@item.ProductName </a></h4>
                        <p>@item.ProductDescription</p>
                        <p>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default">@item.ProductPrice</a>
                                <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

        }
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
